body {
  background-color: black;
}
header {
  text-align: center;
  color: white;
}

.card {
  height: 250px;
  width: 175px;
}
.justimon {
  border: solid #2c2d2e 5px;
}
.reaper {
  border: solid #e2e3d8 5px;
}
.gallantmon {
  border: solid tomato 5px;
}
